.card{
    border-radius: 10px;
    margin-top: 15%;
    min-height: 55vh;
    min-width: 30%;
}

.search-button-container{
    display: flex;
    float: right;
    max-width: 20%;
    align-content: center;
    place-content: center;
}